* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  left: 0;
  top: 0;
  width: 1005;
  height: 80px;
}

header h4 {
  position: absolute;
  left: 10%;
  bottom: 1rem;
  font-size: 1.6rem;
  left: 30%;
  border: 2px solid #000000;
  padding: 5px;
  border-radius: 10px;
  top: 0;
  width: 600px;
}

/* splash screen*/

.intro {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffff;
  transition: 1s;
}

.logo-header {
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: #020202;
}

.logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}
.logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

h1 img {
  width: 30%;
}

.navbar {
  position: fixed;
  top: 1rem;
  margin-left: 25%;
  width: 35%;
  border-radius: 15px;
}
.navbar-toggler {
  margin-right: 2rem;
}

.img-head {
  position: absolute;
  z-index: -1;
  width: 90%;
  border-radius: 0 0 40vw 0;
}
.imagen-fondo {
  width: 100%;
}
.productos {
  margin-top: 55rem;
}
.piePagina {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 5rem;
  border-radius: 40px 40px 0 0;
  background-color: #333;
}
.piePagina h1 {
  margin-left: 40rem;
}
